<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SorterExpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SorterExpress.Properties.Settings>
            <setting name="MoveSortedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagSearchStart" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoResetTagSearchBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAllTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="VlcLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoMute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesSearchImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicatesSearchVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesSearchSimilarityPercentage" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DuplicatesSearchThreadCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FastResizing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesMergeFileTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesOnlyKeepTagsInLibrary" serializeAs="String">
                <value>False</value>
            </setting>
        </SorterExpress.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAPICodePack" publicKeyToken="8985beaab7ea3f04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4.0" newVersion="1.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
