<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SorterExpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <SorterExpress.Properties.Settings>
            <setting name="MoveSortedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagSearchStart" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoResetTagSearchBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAllTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="VlcLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoMute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesSearchImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicatesSearchVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicatesSearchSimilarityPercentage" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DuplicatesSearchThreadCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FastResizing" serializeAs="String">
                <value>False</value>
            </setting>
        </SorterExpress.Properties.Settings>
    </userSettings>
</configuration>
